# Ensure Python virtual environment is created in project directory
export PIPENV_VENV_IN_PROJECT=true
# Load or create Python virtual environment using pipenv
layout pipenv

export PYTHONPATH=/home/eric/pydantic-mermaid