[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
flake8-import-order = "*"
flake8-print = "*"

[requires]
python_version = "3.7"
python_full_version = "3.7.16"
